button {
    margin-top: 20px;
    margin-right: .5rem;
    background-color: #59525e;
    color: white;
    padding: 1rem;
    border: 2px solid #493547;
    border-radius: 4px;
    font-size: 1rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    transition: color 0.3s ease, background-color 0.3s ease,
                    border-bottom-color 0.3s ease;
}
  
button:hover {
    background-color: rgb(161, 94, 18);
    border-color: #654428;
    cursor: pointer;
}
  
button:disabled {
    background-color: rgb(139, 129, 143);
    color: rgb(198, 180, 206);
    cursor: auto;
    border-color: #493547;
}
  
button.delete {
    position: absolute;
    left: 210px;
    top: 5px;
    background-color: rgb(69, 66, 73);
    color:  #525252;
    font-size: 1.1rem;
    margin: 0;
    padding: 1px 10px 3px 10px;
}
  
button.delete:hover {
    background-color: #525252;
    color: white;
}

.room {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: max-content;
}

.room li {
    position: relative;
    cursor: pointer;
}

.room li:hover {
left: .1em;
}

.room a {
    color: #333;
    text-decoration: none;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
    display: flex;
    
    width: 100%;
}

.room a:hover {
    color: #2c3a41;
    background-color: #e6e6e6;
}

.room a:active {
    background-color: #525252;
    color: #fafafa;
}

.room .badge {
    display: inline-block;
    font-size: small;
    font-weight: bold;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #97570e;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    min-width: 16px;
    text-align: right;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
}

.room span {
    font-size: 18px;
    padding-right: 2rem;
    font-weight: bold;
}

.error-message{
    background-color: #774040;
    padding: 1em;
    border: 2px solid rgb(136, 108, 108);
    border-radius: 1em;
}

.info{
    color: #9c8ea7;
    position: absolute;
}

.info.min {
    top: 5px;
    right: -53px;
}

.info.max {
    top: 25px;
    right: -70px;
}

.info.type{
    top: 55px;
    left: 70px;
    white-space: nowrap;
}