<!-- Toolbar -->
<div class="toolbar" role="banner">
  <div class="basic-nav-buttons">
    <a class="nav-button" routerLink="/home" title="Home">
      <img
        height="60"
        alt="Hogwarts Logo"
        src="/assets/img/HogwartsLogo.png"
      />
    </a>
    <!-- <a class="nav-button" routerLink="/home" title="Home"><span>Hogwarts</span></a> -->
    <!-- <div class="spacer"></div> -->
    <a class="nav-button" routerLink="/rooms/all-rooms" title="Rooms"><span>Rooms</span></a>
    <a class="nav-button" routerLink="/students/all-students" title="Students"><span>Students</span></a>
    <a class="nav-button" routerLink="/potions" title="Potions"><span>Potions</span></a>
  </div>
  <div class="user-nav-buttons loggedin" *ngIf="isLoggedIn$ | async; else elseBlock">
    <a class="nav-button logout-link" title="Logout" (click)="logOut()"><span>Logout</span></a>
  </div>
  <ng-template #elseBlock>
    <div class="user-nav-buttons not-loggedin">
      <a class="nav-button" routerLink="/login" title="Login"><span>Login</span></a>
      <a class="nav-button" routerLink="/register" title="Register"><span>Register</span></a>
    </div>
  </ng-template>
</div>

<!-- Page content -->
<div class="content" role="main">
  <router-outlet></router-outlet>
  <app-messages></app-messages>
</div>

<!-- Footer -->
<div class="footer">
  <footer>
      <a class="privacy-link">Privacy Policy</a>
      <div class="current-time">
        <p>
          Time is:
          {{time | date: "MMM dd - HH:mm:ss a"}}
        </p>
      </div>
  </footer>
</div>