<div class="login-page">
    <Form class="login-form">
        <div class="name-settings settings">
            <label for="name"><span>Name: </span></label>
            <input type="text" name="name" id="name" class="form-field-input-box" [(ngModel)]="user.userName">
        </div>
        <div class="passwords">
            <div class="password settings">
                <label for="password"><span>Password:</span></label>
                <input type="password" name="password" id="password" class="form-field-input-box" [(ngModel)]="user.password">
            </div>
        </div>
        <button type="button" class="register-btn btn" 
            [disabled]="false" 
            (click)="login()">Login</button>
            <span>Not a student yet? <a class="nav-button" routerLink="/register" title="Register"><span>Register</span></a>!</span>
    </Form>
</div>