.login-page {
    background-color: rgb(70, 73, 77);
    padding-top: 2em;
}

label {
    color: #a2d3e2;
    font-weight: bold;
    display: flex;
    align-items: center;
    font-size: 18px;
    width: 350px;
}

input {
    margin-left: 2rem;
    height: 50px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0;
    background-color: #59525e;
    border: none;
    border-bottom: 2px solid #493547;
    border-right: 2px solid #493547;
    color: rgb(255, 255, 255);
    appearance: none;
    padding: 0 2em;
    -webkit-appearance: none;
    -moz-appearance: none;
    transition: color 0.3s ease, background-color 0.3s ease,
    border-bottom-color 0.3s ease;
}

input:hover,
input:focus {
    color: white;
    background-color: rgb(55, 56, 65);
      border-bottom-color: #141313;
    }
    
button {
    margin-top: 20px;
    margin-right: .5rem;
    background-color: #59525e;
    color: white;
    padding: 1rem;
    border: 2px solid #493547;
    border-radius: 4px;
    font-size: 1rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    transition: color 0.3s ease, background-color 0.3s ease,
                   border-bottom-color 0.3s ease;
}

button:hover {
    background-color: rgb(55, 56, 65);
    border-color: #141313;
    cursor: pointer;
}

button:disabled {
    background-color: rgb(139, 129, 143);
    color: rgb(198, 180, 206);
    cursor: auto;
    border-color: #493547;
}

.settings{
    width: 350px;
    margin: 2rem;
    position: relative;
    display: flex;
    white-space: nowrap;
}

.error-message{
    background-color: #774040;
    padding: 1em;
    border: 2px solid rgb(136, 108, 108);
    border-radius: 1em;
}

.info{
    color: #9c8ea7;
    position: absolute;
}
  
.info.min {
    top: 5px;
    right: -53px;
}
  
.info.max {
    top: 25px;
    right: -70px;
}

.info.type{
    top: 55px;
    left: 70px;
    white-space: nowrap;
}