<div class="room-body">
    <div class="room-nav-buttons">
        <a routerLink="all-rooms" title=""><span>Rooms</span></a>
        <a routerLink="rooms-by-id" title=""><span>Room by ID</span></a>
        <a routerLink="rat-friendly-rooms" title=""><span>Rat friendly rooms</span></a>
        <a routerLink="create-room" title=""><span>Create new room</span></a>
        <a routerLink="update-room" title=""><span>Update room size</span></a>
        <a routerLink="delete-room" title=""><span>Delete room by id</span></a>
    </div>
    <div class="room-page-content">
        <router-outlet></router-outlet>
    </div>
</div>